*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.App{
    position: relative;
    display: flex;
    margin-left: 60px;
}

body:has(.App.dark) {
    background-color: #000;
    color: #fff;
}

.main{
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 700px;
    flex-direction: column;
}